.signup {
    display:flex;
    flex-direction: column;
    align-items: center;
    /* padding:10%; */
    /* width:400px; */
    /* min-height:30vw; */
    /* max-height:36vw; */
    row-gap:12px;
    /* border: black solid 0px; */
    /* border-radius:1%; */
    /* box-shadow: 0px 4px 8px 2px  grey; */
    /* margin:0 15px; */
    padding-left:15px;
    padding-right:15px;
    border-top:1px solid rgb(226, 226, 226);
    /* padding-top:-10px; */
    margin-top:15px;
    margin-bottom:15px;
    
    
}
.signupWindow input,select,#aboutMeText{
    font-size:15px;
    font-family: Arial, Helvetica, sans-serif;
}

#bigSign{
    font-size:30px;
    font-weight:bolder;
    padding-bottom:5px;
}
#smallsign{
    font-size:12px;
    color:rgb(97, 97, 97)
    
}

.signupHeaders{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-self: flex-start;
    margin-left:15px;
    /* border: 1px solid 50px; */
    padding-bottom:0px;
    
}
.signupWindow{
    display:flex;
    flex-direction:column;
    align-items: center;
    
}
.names{
    display:flex;
    column-gap:10px;
    margin-top:-20px;
    /* border-top:1px solid rgb(226, 226, 226); */
    /* padding-top:10px; */
}
.names input{
    /* width:400px; */
    height:32px;
    width:160px;
}

#aboutMeText{
    width:330px;
    height:96px;
}

#emailInput,#passInput{
    width:330px;
    height:32px;
}

#emailInput,#passInput,.names input,#aboutMeText{
    background-color: rgb(238, 237, 237);
    border:solid 1px rgb(176, 176, 176);
    border-radius:4px;
    
}


.signup button{
    background-color: #42b72a;
    color:white;
    width:160px;
    height:36px;
    font-size: 15px;
    border:none;
    font-weight:bolder;
}

.signup button:hover{
    background-color: #33a41f;
}

.birthday_data{
    display:flex;
    flex-direction: row;
    column-gap:10px;
}

.birthday_data select{
    height:30px;
    width:105px;
    border-radius:5px;
    border:solid rgb(200, 200, 200) 1px;
}

.gender_data{
    display:flex;
    flex-direction: row;
    column-gap:10px;
}

.gender_data label{
    border:solid rgb(200, 200, 200) 1px;
    /* border-radius:4px; */
    height:30px;
    width:104px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    border-radius:5px;
}

.gender_data label input{
    margin-right:10px;
}

.gender_data label div{
    margin-left:6px;
}

#bday,#gend{
    align-self:flex-start;
    /* margin-left:2px; */
    font-size:10px;
    color:rgb(92, 92, 92);
    margin-bottom:-10px;
}

.signupErrors li{
    font-size:12px;
    color:red;
    font-style:italic;
    margin-bottom:5px;
}

.signupErrors{
    margin-bottom:1vw;
    min-height:1vw;
    margin-top:1vw;
}

.signup button{
    margin-bottom: 1vw;
    font-family:Arial, Helvetica, sans-serif
}
.signup input,#emailInput,#passInput,#aboutMeText{
    /* border:1px solid red; */
    box-sizing:border-box;
    padding-left:10px;
}

#aboutMeContain>div, #firstnameHead>div,#lastnameHead>div,#emailInputcontain>div{
    font-size:10px;
    color:rgb(92, 92, 92);
    margin-bottom:2px;
}
