.postsContainer{
    width:inherit;
}
.userPostsContainer{
    margin-top:1vw;
    background-color: white;
    width:inherit;
    border-radius:10px;
    background-color: white;
    box-shadow: 0 0.5px 3px 1px rgb(228, 228, 228);
    border:1px solid rgb(213, 213, 213);
    padding: 1vw 0;
}

#postsContent{
    display:flex;
    align-items:center;
}

#postsContent p{
    font-size:1vw;
    font-weight:bolder;
    margin-left:-0.5vw;
}

#postsBody{
    font-size:1vw;
    padding:1vw;
    margin: 0 1vw;
    /* border-bottom:1px solid rgb(213, 213, 213); */
}

#postsPhotoContainer{
    /* width:inherit; */
    margin: 0 1vw;
    border-bottom:1px solid rgb(213, 213, 213);
    display:flex;
    justify-content: center;
    align-items:center;

}

#likeComment{
    font-size:1vw;
    /* padding: 1vw 0; */
    display:flex;
    justify-content: space-evenly;
    font-weight:bolder;
    color:rgb(117, 117, 117);
    border-bottom:1px solid rgb(213, 213, 213);
    margin: 0 1vw;
}

#likeComment p{
    padding: 0.5vw ;
    margin: 0.5vw;
    border-radius:5px;
}

#likeComment p:hover{
    background-color:rgb(216, 216, 216);
    cursor:pointer;

}

#replyIcon{
    height:3vw;
    width:3vw;
    display:flex;
    align-items:center;
    justify-content:center;
    overflow:hidden;
    border-radius:100%;
    margin-right:1vw;
    margin-left:1vw;
    font-size:4vw;
    /* border:solid 1px red; */
}

#replyIcon img{
    height:3vw;
    width:3vw;
}

#replyContainer{
    margin-top:1vw;
    display:flex;
    align-items:center;
}

#replyContainer input{
    border-radius:20px;
    border:none;
    background-color: rgb(222, 222, 222);
    width:85%;
    box-sizing:border-box;
    padding-left:1vw;
    font-size:1vw;
    height:2.5vw;
}

.formPostsContainer{
    width:400px;
}

#formpostIcon{
    height:40px;
    width:40px;
    display:flex;
    align-items:center;
    justify-content:center;
    overflow:hidden;
    border-radius:100%;
    margin-right:10px;
    /* margin-left:1vw; */
    font-size:4vw;
    /* border:solid 1px red; */
}

#formpostIcon img{
    height:40px;
    width:40px;
}

#formpostsContent{
    padding:16px;
    display:flex;
    flex-direction: column;
    row-gap:16px;
    
}

#formpostsName{
    display:flex;
    align-items:center;
    /* padding:0 10px; */
 
}

#formpostsName p{
    font-size:15px;
    font-weight:bolder;
    margin-left:-5px;
}

#formPostsHeader{
    font-size:20px;
    font-weight: bolder;
    display:flex;
    justify-content: center;
    border-bottom:1px solid rgb(213, 213, 213);
    padding-bottom:10px;
}

#postBody{
    font-size:15px;
    border:none;
    box-sizing: border-box;
    resize:none;
    /* overflow:hidden; */
}

#postBody:focus{
    outline:none;
}

#formPostButton{
    font-size: 15px;
    font-weight:bolder;
    border:none;
    padding: 5px;
    background-color: #42b72a;
    color:white;
}

#formPostButton:hover{
background-color: #33a41f;
}

#submitPostPhoto{
    width:30%;
    align-self:center;
    font-size:10px;
    font-weight:bolder;
    border:none;
    padding:5px;
    background-color: rgb(225, 225, 225);
}

#submitPostPhoto:hover{
    background-color: rgb(200, 200, 200);
}