.postsContainer{
    width:inherit;
    /* position:relative; */
}
.userPostsContainer{
    margin-top:1vw;
    background-color: white;
    width:inherit;
    border-radius:10px;
    background-color: white;
    box-shadow: 0 0.5px 3px 1px rgb(228, 228, 228);
    border:1px solid rgb(213, 213, 213);
    padding: 1vw 0;
    /* position:relative; */
}

#postsContent{
    display:flex;
    align-items:center;
    position:relative;
}

#postsContent p{
    font-size:1vw;
    font-weight:bolder;
    margin-left:-0.5vw;
}

#postsContent p:hover{
    text-decoration: underline;
    cursor:pointer;
}

#postsBody{
    font-size:1vw;
    padding:1vw;
    padding-bottom:2vw;
    margin: 0 1vw;
    /* border-bottom:1px solid rgb(213, 213, 213); */
}

#postsPhotoContainer{
    /* width:inherit; */
    margin: 0 1vw;
    display:flex;
    justify-content: center;
    align-items:center;
    padding-bottom:2vw;

}

#likeComment{
    font-size:1vw;
    /* padding: 1vw 0; */
    display:flex;
    justify-content: space-evenly;
    font-weight:bolder;
    color:rgb(117, 117, 117);
    border-top:1px solid rgb(213, 213, 213);
    border-bottom:1px solid rgb(213, 213, 213);
    margin: 0 1vw;
}

#likeComment p{
    padding: 0.5vw ;
    margin: 0.5vw;
    border-radius:5px;
}

#likeComment p:hover{
    background-color:rgb(216, 216, 216);
    cursor:pointer;

}

#replyIcon{
    height:3vw;
    width:3vw;
    display:flex;
    align-items:center;
    justify-content:center;
    overflow:hidden;
    border-radius:100%;
    margin-right:0.5vw;
    margin-left:1vw;
    font-size:4vw;
    /* border:solid 1px red; */
}

#replyIcon img{
    height:3vw;
    width:3vw;
}

#replyIcon i{
    font-size:3vw;
}

#replyContainer{
    margin-top:1vw;
    display:flex;
    align-items:center;
}

#replyContainer input{
    border-radius:20px;
    border:none;
    background-color: rgb(222, 222, 222);
    width:86%;
    box-sizing:border-box;
    padding-left:1vw;
    font-size:1vw;
    height:2.5vw;
}

.formPostsContainer{
    width:400px;
}

#formpostIcon{
    height:40px;
    width:40px;
    display:flex;
    align-items:center;
    justify-content:center;
    overflow:hidden;
    border-radius:100%;
    margin-right:10px;
    /* margin-left:1vw; */
    font-size:4vw;
    /* border:solid 1px red; */
}

#formpostIcon img{
    height:40px;
    width:40px;
}

#formpostsContent{
    padding:16px;
    display:flex;
    flex-direction: column;
    row-gap:16px;
    
}

#formpostsName{
    display:flex;
    align-items:center;
    /* padding:0 10px; */
 
}

#formpostsName p{
    font-size:15px;
    font-weight:bolder;
    margin-left:-5px;
}

#formPostsHeader{
    font-size:20px;
    font-weight: bolder;
    display:flex;
    justify-content: center;
    border-bottom:1px solid rgb(213, 213, 213);
    padding-bottom:10px;
}

#postBody{
    font-size:15px;
    border:none;
    box-sizing: border-box;
    resize:none;
    /* overflow:hidden; */
}

#postBody:focus{
    outline:none;
}

#formPostButton{
    font-size: 15px;
    font-weight:bolder;
    border:none;
    padding: 5px;
    background-color: #42b72a;
    color:white;
}

#formPostButton:hover{
background-color: #33a41f;
}

#invalidSubmitButton{
    font-size: 15px;
    font-weight:bolder;
    border:none;
    padding: 5px;
    background-color: #dadbda;
    color:white;
}

#invalidSubmitButton:active{
    transform:none;
}

#invalidSubmitButton:hover{
    cursor:not-allowed;
}

#submitPostPhoto{
    width:30%;
    align-self:center;
    font-size:10px;
    font-weight:bolder;
    border:none;
    padding:5px;
    background-color: rgb(225, 225, 225);
    border-radius:5px;
    display:flex;
    justify-content: center;
}

#submitPostPhoto:hover{
    background-color: rgb(200, 200, 200);
    cursor:pointer;
}

#previewPostPhoto{
    max-height:300px;
    max-width:300px;
}

#postsFormPhotoContainer{
    display:flex;
    justify-content: center;
    background-color:rgb(255, 255, 255);
}

#postsPhotoContainer{
    background-color: rgb(255, 255, 255);
}

#postsPhoto{
    max-height:30vw;
    max-width:30vw;
}

.removePostsPhoto{
    font-size:30px;
    position:absolute;
    top:170px;
    right:40px;
    background-color: rgb(201, 201, 201);
    padding:3px;
    padding: 0 3px;
    border-radius: 100%;
    
}

.removePostsPhoto:hover{
    background-color: rgb(168,168,168);
}

#postOptionsButton{
    margin-left:auto;
    margin-right:1vw;
    border:none;
    background-color: rgb(255, 255, 255);
    border-radius:100%;
    
    height:2.5vw;
    width:2.5vw;
    font-size:1.5vw;
    display:flex;
    align-items:center;
    justify-content: center;
    position:relative;
}

#postOptionsButton:hover{
    background-color: rgb(227, 227, 227);
}

#postOptions{
    position:absolute;
    /* border: 1px solid red; */
    border-radius:5px;
    /* left:930px; */
    /* top:80px; */
    right:2.5vw;
    top:3vw;
    /* top:1vw; */
    box-shadow:0 1px 4px 0.1px rgb(145, 145, 145);
    display:flex;
    flex-direction: column;
    align-items:left;
    /* padding: 1vw 0; */
    row-gap:0.5vw;
    background-color: white;
    padding:0.5vw;
    /* width:10vw; */
    
}

#hideMenu{
    display:none;
}

#editPostButton{
    border:none;
    background-color: white;
    padding: 5px 5px;
    border-radius:none;
    display:flex;
    justify-content: flex-start;
    width:120px;
}

#editPostButton:hover,#trashButton:hover{
    background-color:rgb(238,238,238) ;
}

#trashButton{
    border:none;
    background-color: white;
    padding: 0.5vw 0.5vw;
    border-radius:none;
    width:120px;
    display:flex;
    justify-content:flex-start;

}

.trashModalContainer{
    display:flex;
    flex-direction: column;
    align-items:center;
    padding: 10px 50px;
    row-gap:10px;
}

.trashModalContainer h1{
    font-size:20px;
    font-weight:bolder;
    padding-bottom:10px;
     border-bottom:1px solid rgb(213, 213, 213);
}

.trashButtons{
    display:flex;
    justify-content:space-between;
    column-gap:5px;
    align-items:center;
    color:rgb(172, 172, 172)
}

.trashButtons button{
    font-size:16px;
    background-color: #42b72a;
    font-weight: bolder;
    color:white;
    border:none;
    padding: 2px 20px;
}

.trashButtons button:hover{
    background-color:#33a41f;
}

#CancelRemove:hover{
    cursor:pointer;
    background-color: rgb(226, 226, 226);
}

#CancelRemove{
    font-weight:lighter;
    background-color: white;
    color:grey;
}

