#commentsContainer{
    margin-top:1vw;
    display:flex;
}

#commentBubble{
    display:flex;
    flex-direction:column;
    border-radius:1.5vw;
    padding:1vw;
    font-size:1vw;
    background-color: #f0f2f5;
    max-width:29vw;
    position:relative;
}

#commentBubble h1{
    font-weight: bolder;
    margin-bottom:0.25vw
}

#commentBubble h1:hover{
    text-decoration: underline;
    cursor:pointer
}
#commentBubble div{
    line-height:1.2vw;
}

#commentslike{
    font-size:1vw;
    color:rgb(117, 117, 117);
    margin-left: 1vw;
    margin-top:0.25vw;
}

#commentslike:hover{
    cursor:pointer;
    text-decoration: underline;
}

#commentsunlike{
    font-size:1vw;
    color:#1877f2;
    margin-left: 1vw;
    margin-top:0.25vw;
    font-weight:bolder;
}

#commentsunlike:hover{
    cursor:pointer;
    text-decoration:underline;
}

#commentIcon{
    height:3vw;
    width:3vw;
    display:flex;
    align-items:center;
    justify-content:center;
    overflow:hidden;
    border-radius:100%;
    margin-right:0.5vw;
    margin-left:1vw;
    font-size:3vw;
    margin-top:0.5vw;
}

#commentIcon:hover{
    cursor:pointer;
}

#commentIcon img{
    height:3vw;
    align-self:center;
}

#commentOptionsB{

    border:none;
    border-radius:100%;
    background-color: rgb(255, 255, 255);
    display:flex;
    justify-content: center;
    align-items:center;
    font-size:1.2vw;
    height:2vw;
    width:2vw;
    margin-top:1vw;
    margin-left:0.5vw;
    /* position:relative; */
}

#commentOptionsB:hover{
    background-color:rgb(222, 222, 222);
}

#commentOptions{
    background-color: white;
    border-radius:1vw;
    height:fit-content;
    width:11vw;
    position:absolute;
    left:2.5vw;
    bottom:2vw;
    padding: 0 0.5vw;
    z-index:1;
    margin-left: 0.5vw;
    box-shadow:0 1px 4px 0.1px rgb(145, 145, 145);
    display:flex;
    flex-direction:column;
    align-items:center;

}

#commentOptions li{
    /* padding:0.5vw; */
    border-radius:0.5vw;
    margin:0.5vw;
    display:flex;
    /* justify-content: center; */
    
}
#commentOptions li{
    background-color: white;
    width:inherit;
}
/* #commentOptions li:hover{
    background-color: rgb(227, 227, 227);
} */




#editCommentInput{
    margin-top:1vw;
    width:30vw;
    border:none;
    border-radius:1.5vw;
    padding:0.5vw 0;
    padding-left:1vw;
    font-size:1vw;
    background-color: #f0f2f5;
    
}

#editCommentInput:focus{
    outline:none;
}

#deleteCommentButton{
    border:none;
    /* font-weight:bolder; */
    background-color: white;
    font-size:1vw;
    display:flex;
    justify-content: flex-start;
    column-gap:0.5vw;
    width:inherit;
}

#deleteCommentButton:hover{
    background-color:rgb(227,227,227)
}

#commentOptionsContainer{
    position:relative;
}

#editCommentButton{
    font-size:1vw;
    border:none;
    background-color: white;
    /* width:18vw; */
    display:flex;
    justify-content: flex-start;
    column-gap:0.5vw;
}

#editCommentButton:hover{
    background-color:rgb(227,227,227)
} 

#hideCommentForm{
    display:none;
}

#hideBubbleContainer{
    display:none;
}

#showCommentForm p{
    font-size:1vw;
    margin-left:0.5vw;
    margin-top:0.5vw;
    color:rgb(162, 162, 162)
}

#commentlikesContainer{
    background-color: white;
    display:flex;
    align-items:center;
    column-gap:0.3vw;
    width:fit-content;
    padding: 0.2vw 0.4vw;
    border-radius:1vw;
    position:absolute;
    left:calc(100% - 1.2vw);
    top:calc(100% - 1vw);
    /* transform: translatex(90%); */
    color:rgb(160,160,160);
    box-shadow: 0 0 0.1vw 0.1vw rgb(217, 217, 217);
}

#commentlikesContainer i{
    background-color:#1877f2;
    color:white;
    padding:0.3vw;
    font-size:0.75vw;
    border-radius:100%;
}

