#labels{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    background-color: rgb(206, 206, 206);
    margin-top:10px;
    margin-bottom:10px;
    width:fit-content;
    border-radius: 4px;
    padding:5px;
    color:rgb(0, 0, 0);
    font-weight:bolder;
    font-size:10px;
}

#photoForm{
    min-width:300px;
    min-height:300px;
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    align-items: center;
    /* overflow:hidden; */
    

}

.photoInput{
    display:none;
}

#labels:hover{
    cursor:pointer;
    background-color: rgb(188, 188, 188);
}

#labels:active{
    transform:scale(0.95)
}

.photoBContainer{
    display:flex;
    flex-direction: column;
    margin-bottom:20px;
    align-items:center;
}

#submitProfilePhoto{
    background-color: #42b72a;
    color:white;
    font-size:20px;
    font-weight:bolder;
    border:none;
    border-radius: 7px;
    padding: 5px 10px;
    width:fit-content;
}

#submitProfilePhoto:hover{
    background-color:#33a41f
}

#previewProfilePhoto{
    height:150px;
    /* margin: 0 40px; */
}

#previewCoverPhoto{
    height:300px;
}

#coverContainer{
    /* width:400px; */
    /* padding: 0 30px; */
    margin: 0 60px;
    height:180px;
    width:480px;
    display:flex;
    justify-content: center;
    /* align-items: center; */
    overflow:hidden;
    border-bottom-left-radius: 6.5px;
    border-bottom-right-radius:6.5px;
    box-shadow: 0 0 10px 1px rgb(193, 193, 193);
}

.previewCover{
    font-size:15vw;
    align-self: center;
}

#profileContainer{
    height:150px;
    width:150px;
    border-radius:100%;
    overflow:hidden;
    display:flex;
    justify-content:center;
    align-items: center;
    box-shadow: 0 0 10px 1px rgb(193, 193, 193);
}

.previewProfile{
    font-size:15vw;
}

.photoErrors{
    height:10px;
    padding-bottom:10px;
}

.photoErrors li {
    color:red;
    font-style: italic;
}

.removeProfile{
    background-color: rgb(201, 201, 201);
    border-radius:100%;
    font-size:25px;
    color:rgb(94, 94, 94);
    position:absolute;
    padding:3px;
    padding: 0 3px;
    top:80px;
    left:200px;
}

.removeProfile:hover,.removeCover:hover{
    background-color: rgb(168, 168, 168);
}

.removeCover{
   position:absolute;
   background-color: rgb(201, 201, 201);
    border-radius:100%;
   font-size:30px;
   right:55px;
   top:40px;
   padding:10px;
   padding: 0 5px;
}



