@keyframes fadeIn {
    0% { opacity: 0; }
  100% { opacity: 1; }
}

#profilepage{
    display:flex;
    flex-direction: column;
    height:auto
}

.topHalf{
    max-width:100%;
    height:45vw;
    display:flex;
    flex-direction:column;
    /* background-image:linear-gradient(rgb(148, 148, 148),white,white); */
    border-bottom:1px solid rgb(213, 213, 213);
    
    
}


.nameButtons{
    /* width:inherit; */
    display:flex;
    justify-content: space-between;
    margin: 0px 10vw;
    border-bottom: 1px solid rgb(223, 223, 223);
    margin-bottom:20px;
    padding-top:20px;
    height:10vw;
    
}

#editProfile{
    margin-top:3vw;
    margin-right:2.7vw;
    height:3vw;
    /* width:10vw; */
    border:none;
    font-size:1.2vw;
    font-weight:bolder;
    font-family:Arial, Helvetica, sans-serif;
    padding:1vw;
    background-color: rgb(218, 218, 218);
    width:12vw;
    border-radius:10px;
    display:flex;
    align-items:center;
    justify-content:center;
}

#editProfile:hover{
    background-color: rgb(200, 200, 200);
    /* animation:fadeIn 0.25s */
}


#profileName {
    /* margin-top:2vw; */
    font-size:2.5vw;
    font-weight:bolder;

    
}
#photoAndName{
    /* margin-bottom:6vw; */
    z-index:1;
    /* margin-left:1vw; */
}

#friendHeaderContainer{
    display:flex;
    align-items:flex-start;
    flex-direction:column;
    margin-bottom:3vw;
    margin-left:1vw;
    row-gap:0.5vw;
}

#friendHeaderContainer h1{
    /* margin-left:1vw; */
    font-size:1.5vw;
    color:grey;
    
}



.bottomHalf{
    
    height:auto;
    min-height:50vw;
    display:flex;
    justify-content: space-between;
    margin: 0px 15vw;
    /* overflow:auto; */
    /* position:relative; */
    /* overflow:hidden */
    position:relative;
    
}

#leftContainer{
   
    margin-top:1vw;
    margin-right:1vw;
}

.bio{
    /* margin-top:1vw; */
    /* margin-left:10vw; */
    width: 30vw;
    border:1px solid rgb(213, 213, 213);
    height:fit-content;
    border-radius:10px;
    background-color: white;
    box-shadow: 0 0.5px 3px 1px rgb(228, 228, 228);
    /* position:sticky;
    top:66px; */
}

#basicInfo{
    margin:20px;
}
#aboutMe{
    margin:1vw;
    padding:10px;
    border:1px solid rgb(213, 213, 213);
    box-shadow: 0 0.5px 0.5px 0.5px rgb(228, 228, 228);
    border-radius:10px;
    font-size:1.5vw;
    /* min-height; */
    /* font-weight:bolder; */
    
}

#aboutMe p{
    /* margin-top: 10px; */
    font-size:1vw;
    font-weight:none;
    /* word-spacing:5px; */
    line-height:2vw;
    padding-top:1vw;
    
}

#aboutMe h2{
    font-weight:bolder;
    border-bottom:1px solid rgb(225, 225, 225);
    padding-bottom:5px;
}

#basicInfo{
    
    margin:1vw;
    padding:1vw;
    border:1px solid rgb(213, 213, 213);
    box-shadow: 0 0.5px 0.5px 0.5px rgb(228, 228, 228);
    border-radius:10px;
    max-height:20vw;
}

#basicInfo h2{
    border-bottom:1px solid rgb(228, 228, 228);
    padding-bottom:5px;
    font-size:1.5vw;
    font-weight:bolder;
    margin-bottom:1vw;
}

#basicInfo>div{
    font-size:1vw;
    color:grey;
    /* margin-top: 1vw; */
    font-weight:bolder;
    display:flex;
    margin-bottom:1vw;
    align-items:center;
    
}

#basicInfo p{
    font-size:1vw;
    color:black;
    margin-left:0.3vw;
    font-weight:lighter
    /* border-bottom:1px solid rgb(213, 213, 213); */
}

#leftContainer{
    display:flex;
    flex-direction:column;
    align-items:center;
    position:sticky;
    top:66px;
    
    
}

#friendsContainer{
    margin-top:1vw;
    /* margin-left:10vw; */
    width: 28vw;
    border:1px solid rgb(213, 213, 213);
    /* height:200px; */
    border-radius:10px;
    background-color: white;
    box-shadow: 0 0.5px 3px 1px rgb(228, 228, 228);
    position:sticky;
    top:66px;
    padding:1vw;

}

#ontainer{
    /* width: 28vw; */
    border:1px solid rgb(213, 213, 213);
    box-shadow: 0 0.5px 0.5px 0.5px rgb(228, 228, 228);
    /* height:200px; */
    border-radius:10px;
    background-color: white;
    padding:1vw;
    display:flex;
    flex-direction:column;
    
    


}

#profilefriendHeaders{
    padding-bottom:1vw;
    border-bottom:1px solid rgb(213, 213, 213);
}

#profilefriendHeaders h1{
    font-size:1.5vw;
    font-weight:bolder;
}

#profilefriendHeaders h2{
    font-size: 1vw;
    color:grey;
    margin-top:0.5vh;
}

.posts{
    display:flex;
    flex-direction: column;
    align-items:center;
    width:40vw;
    margin-left:1vw
}


#createPost i{
    margin-right:0.5vw;
    font-size:3vw;
}



#postsHeader{
    margin-top:1vw;
    background-color: white;
    width:inherit;
    border-radius:8px;
    background-color: white;
    box-shadow: 0 0.5px 3px 1px rgb(228, 228, 228);
    border:1px solid rgb(213, 213, 213);
    display:flex;
    font-weight:bolder;
    justify-content:flex-start;
    align-items:center;
    font-size:1.5vw;
    padding-top:1vw;
    
    /* min-height:40px; */

}

#postsHeader p{
    width:inherit;
    border-bottom:1px solid rgb(213, 213, 213);
    /* padding-left:1vw; */
    margin-bottom:1vw;
    display:flex;
    justify-content: center;
    margin-left: 1vw;
    margin-right: 1vw;
}

#postsHeader i {
    margin-right:0.5vw;
}



#avatar{
    
    /* border-radius:50%; */
    /* max-width: 12vw; */
    max-height:12vw;
    z-index:-10;
    position:relative;
    /* margin:auto; */
    
}
#profilephoto{
    border:0.3vw solid white;
    height:12vw;
    width: 12vw;
    border-radius: 100%;
    margin-right:2vw;
    position:relative;
    z-index: 0;
    background-color: white;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:10vw;
    overflow:hidden;
    position:relative;
    bottom:3vw;
    left:1.5vw;
    
    
}

#profileinfo{
    display:flex;
    align-items:center;
    /* column-gap:-10vw; */
    
}

.mainphoto{
    font-size:12vw;
}
.coverPhoto{
    height:30vw;
    background-color: rgb(205, 205, 205);
    margin: 0px 10vw;    
    border-bottom-left-radius: 6.5px;
    border-bottom-right-radius:6.5px;
    display:flex;
    /* align-items:center; */
    justify-content: center;
    overflow:hidden;
    position:relative
   
}

.coverimage{
    font-size:30vw;
}

#coverphoto{
    height:50vw;
    /* width:80vw; */

    
}

#postIcon{
    height:4vw;
    width:4vw;
    display:flex;
    align-items:center;
    justify-content:center;
    overflow:hidden;
    border-radius:100%;
    margin-right:1vw;
    margin-left:1vw;
    font-size:4vw;
    text-align: center;
    /* border:solid 1px red; */
}

#postIcon:hover{
    cursor:pointer;
}

#postIcon img{
    height:4vw;
    /* width:4vw; */
}

#postIcon i{
    font-size:4vw;
}


