*{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

body{
    background-color:#f0f2f5;
}

.LoginPage{
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    margin-top:40px;
}

.login{
    display:flex;
    flex-direction:column;
    row-gap:15px;
    border-bottom:1px solid rgb(210, 210, 210);
    padding-bottom: 20px;
   
}
.formwindow {

    display:flex;
    background-color: white;
    flex-direction: column;
    justify-content:none;
    align-items: center;
    width: 350px;
    /* height:320px; */
    border: black solid 0px;
    border-radius:6px;
    box-shadow: 0px 4px 8px 2px  rgb(205, 205, 205);
    row-gap:15px;
    flex-shrink: 0%;
    padding-top:15px;

    /* max-height:290px; */
   
}

.loginwindow{
    display:flex;
    flex-direction: column;
    align-items:center;
    margin-top:5%;
    margin-right:100px;
    
}

#otherButtons{
    display:flex;
    flex-direction: column;
    row-gap: 10px;
    align-items:center;
    /* padding-bottom:-10px; */

}

#demo{
    background-color: #42b72a;
    color:white;
    width:160px;
    height:36px;
    font-size: 16px;
    border:none;
    /* margin-bottom:15px; */
    /* padding:bottom 10px; */
    

}

#demo:hover{
    background-color: #33a41f;
  }




.loginwindow p,.loginwindow b{
    padding-top:20px;
    font-size:12px;
    font-family:Arial, Helvetica, sans-serif
}


.login input,button {
    border:grey solid 1px;
    border-radius: 5px;
}

.login input{
    width: 320px;
    height: 42px;
    border:rgb(209, 209, 209) solid 1px;
    border-radius: 5px;
    font-size:15px;
    /* padding-left:50px; */
    /* margin-left:50px; */
    box-sizing: border-box;
    padding-left: 12px;
    

}

.headings{
   margin-bottom:20px;
    width:450px;
    margin-right:50px;
    font-family:Arial, Helvetica, sans-serif
}

.headings h1{
    color:#1877f2;
    font-size:45px;
    font-weight:bolder;
}
.headings p{
    margin-top:10px;
    font-size:25px;
}


#submit{
    background-color: #1877f2;
    color:white;
    width:320px;
    height: 42px;
    border-radius:6px;
    font-size:20px;
    border:none;
}

#submit:hover{
    background-color: #1460c3;
}



.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height:12vw;
    background-color: white;
    color: white;
    text-align: center;
 }

.loginErrors li{
    margin-top:10px;
    color:red;
    font-family: arial;
    font-size: 10px;
    font-style:italic;
}

.loginErrors{
    height:20px;
}