#postsModalb{
    width:33.5vw;
    /* margin: 0 1vw; */
    margin-left:-0.5vw;
    height:3vw;
    border:none;
    display:flex;
    align-items:center;
    border-radius:20px;
    background-color:#f0f2f5;
    color:grey;
    font-size:1.4vw;
    padding-left:1.3vw;
    /* margin-right:1.5vw; */
}

#postsModalb:hover{
    background-color: rgb(216, 216, 216);
}
#postsModalb:active{
    transform:none;
}

#createPost{
    margin-top:1vw;
    background-color: white;
    width:40vw;
    min-height:5vw;
    border-radius:10px;
    background-color: white;
    border:1px solid rgb(213, 213, 213);
    box-shadow: 0 0.5px 3px 1px rgb(228, 228, 228);
    display:flex;
    /* justify-content: center; */
    align-items:center;
}

.profilephotoModal button{
    /* position:absolute; */
    border-radius: 1.5vw;
    font-size:2vw;
   
    background-color: rgb(213, 213, 213);
    border:none;
    /* margin-top:1vw; */
    
}

.profilephotoModal{
    margin-left:-5vw;
    /* margin-top:5vw; */
    /* position:absolute; */
    
}

.coverPhotoModal{
    position:absolute;
    /* right:2.5vw; */
    left:calc(81.3%);
    /* top:26.5vw; */
    top:calc(85%);
    z-index:1
}

.coverPhotoModal button{
    /* width:12vw; */
    height:2.5vw;
    border-radius:0.5vw;
    font-weight:bold;
    background-color: rgb(239, 239, 239);
    border:none;
    font-size:1.2vw;
}

.coverPhotoModal button:hover, .profilephotoModal button:hover {
    background-color: rgb(200, 200, 200);
    /* animation:fadeIn 0.25s */
}



